html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@font-face {
  font-family: 'PT Sans';
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #3e3e3e;
  background: #fff; }

.chat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px; }

.chatbox {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  min-height: 250px;
  height: 100%;
  max-height: 550px;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 16px 2px rgba(52, 56, 63, 0.46);
          box-shadow: 0 1px 16px 2px rgba(52, 56, 63, 0.46);
  overflow: hidden; }
  .chatbox__inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .chatbox__header {
    position: relative;
    padding: 30px 30px 15px;
    border-bottom: 1px solid #ebebeb; }
    .chatbox__header::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 11px;
      background-image: linear-gradient(125deg, #84b1d8 0, #84b1d8 20%, #fff 20%, #fff 40%, #ff7d7c 40%, #ff7d7c 60%, #fff 60%, #fff 80%, #84b1d8 80%, #84b1d8 100%);
      background: repeating-linear-gradient(-65deg, #84b1d8, #84b1d8 10px, #fff 10px, #fff 20px, #ff7d7c 20px, #ff7d7c 30px, #fff 30px, #fff 40px); }
  .chatbox__close {
    position: absolute;
    right: 10px;
    top: 25px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer; }
    .chatbox__close svg {
      stroke: #7f7f7f; }
  .chatbox__actions {
    margin-left: auto; }
  .chatbox__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .chatbox__ava {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 3px; }
    .chatbox__ava--sm {
      width: 31px;
      height: 31px; }
  .chatbox__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding-left: 15px; }
  .chatbox__name {
    margin-bottom: 3px;
    font-size: 24px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    line-height: 1; }
  .chatbox__city {
    color: #7f7f7f; }
  .chatbox__rating {
    padding-right: 20px; }
  .chatbox__body {
    padding: 10px 30px;
    min-width: 100px;
    overflow: auto; }
    .chatbox__body::-webkit-scrollbar {
      width: 20px; }
    .chatbox__body::-webkit-scrollbar-thumb {
      min-height: 35px;
      background-clip: padding-box;
      background-color: rgba(51, 51, 51, 0.5);
      border: 6px solid transparent;
      border-radius: 10px; }
  .chatbox__list {
    margin: 0;
    padding-left: 0;
    list-style: none; }
  .chatbox__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 15px;
    margin-bottom: 20px;
    border-radius: 3px; }
    .chatbox__item--author {
      background-color: #f7f5f7; }
  .chatbox__message {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 15px;
    font-size: 14px;
    padding-right: 15px; }
  .chatbox__date {
    font-size: 12px;
    color: #7f7f7f; }
  .chatbox__footer {
    margin-top: auto;
    padding: 12px 30px 10px;
    background-color: #e9f2fa; }
  .chatbox__form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 15px; }
    .chatbox__form textarea {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 8px;
      min-height: 75px;
      max-height: 135px;
      font-size: 14px;
      font-family: inherit;
      border: 1px solid #b1b6bb;
      border-radius: 3px;
      overflow: auto;
      resize: none; }
    .chatbox__form button {
      padding: 8px 27px;
      font-family: inherit;
      font-size: 16px;
      border: 1px solid #b1b6bb;
      border-radius: 3px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, #d4d4d8), to(white));
      background-image: linear-gradient(0, #d4d4d8 0%, white 100%);
      cursor: pointer; }

.rating {
  display: inline-block;
  direction: rtl; }
  .rating__check {
    position: absolute;
    left: -9999px; }
  .rating__star {
    display: inline-block;
    font-size: 0;
    cursor: pointer; }
    .rating__star::before {
      content: "";
      position: relative;
      display: block;
      width: 15px;
      height: 15px;
      background-image: url(../img/star.png);
      background-size: 15px; }
    .rating__star:hover::before,
    .rating__star:hover ~ label::before, .rating__star--checked::before {
      background-image: url(../img/star-active.png); }

.list-enter-active, .list-leave-active {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transition-delay: 2s;
          transition-delay: 2s; }

.list-enter, .list-leave-to {
  background-color: rgba(132, 177, 216, 0.3); }

/*# sourceMappingURL=app.css.map */
